@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutPrivacy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section footer
{
    &copy;2022 Dojo
    <a asp-action="Index" asp-controller="Home">Back to Home Page</a>
}
